body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.disks-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-container {
    position: relative;
    width: 420px; /* Adjust to fit the largest image */
    height: 420px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 87px;
}


.rotatable {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}

#image1 {
    width: 420px;
    height: 420px;
}

#image2 {
    width: 348px;
    height: 348px;
}

#image3 {
    width: 300px;
    height: 300px;
}

#image4 {
    width: 252px;
    height: 252px;
}

#image5 {
    width: 420px;
    height: 420px;
}

#image6 {
    width: 315px;
    height: 315px;
}


.controls {
    display: flex;
    justify-content: center;
    flex-direction: column;

}


#projectSelect {
}

.control-set {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px; /* Space between the buttons */
}