body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
}

.image-container {
    position: relative;
    width: 350px; /* Adjust to fit the largest image */
    height: 350px;
}

.rotatable {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}

#image1 {
    width: 560px;
    height: 560px;
}

#image2 {
    width: 480px;
    height: 480px;
}

#image3 {
    width: 400px;
    height: 400px;
}

#image4 {
    width: 320px;
    height: 320px;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-left: 300px; /* Adjust space between image container and controls */
}

.control-set {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

button {
    margin: 5px; /* Space between the buttons */
}